article {text-align: center;}
.center
{
 text-align: center;
 list-style-position: inside;
}
ol.center li
{
 text-align: left;
 margin-left: 45%;
}
body {background-color: burlywood;}
h1 {color: brown;
font-size: 60px;
}
p {font-size: 20px;}
h3 {color: brown;
font-size: 30px;
}
div {font-size: 18px;}
